h2 {
   margin-top: 2ex; font-size: 115%; padding: 3px;
   text-shadow: 2px 2px 2px #123152;
   color: azure; background-color: green;
   border: 1px solid navy; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
h3 {
   margin-top: 3ex; font-size: 105%; padding: 3px;
   text-shadow: 2px 2px 2px #123152;
   background: -webkit-gradient(linear, left bottom, left top, from(darkslategray), to(lightseagreen));
   color: azure; background-color: darkslategray;
   border: 1px solid navy; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
h4 { margin-top: 3ex; margin-bottom: 1ex; font-size: 100%; }
pre { padding: 2px; border: 1px solid #888; }
img { border: none; }
.links a { padding-right: 1em; }
.rounded { border: 2px outset slategray; -moz-border-radius: 7px; -webkit-border-radius: 7px; }

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
